p {
    background-color: aliceblue(211, 211, 238);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
    text-align: center;
}
p{
    color: rgb(225, 0, 255);
    font-size: 18px;
}
div{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: ;

}